@percent:100%;
@c-r:red;
.align-item-center(){
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right: 0;
  margin: auto;
}


html,body,#root{
    height: @percent;
}
.g-ht{
    height: @percent;
}
.g-wt{
    width:@percent ;
}
.g-pr{
    position: relative;
}
.box{
    margin: auto;
    height: @percent;
    background:#fff;
}
.loading{
    color:@c-r;
    height:39px;
    right: 30px;
    .align-item-center();
}
